/* psa.css */
body {
	margin: 0;
	color: #4682B4;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
}

p {
	margin: 0;
	padding: 5px;
	/* background-color: azure; */
	/* border: 1px solid steelblue; */
}

ul {
	margin: 0;
	/* background-color: azure; */
}

table {
	border-collapse: collapse;
}

th,td {
	white-space: nowrap;
}

input {
	background-color: lightyellow;
	font-size: 1em;
}

input[type="submit"] {
	background-color: #B0C4DE;
	border: 1px solid #6A5ACD;
	padding-left: 5px;
	padding-right: 5px
	margin-left: 10px
}

input[type="submit"]:hover {
	background-color: #FFA500;
	border: 1px solid #6A5ACD;
}

input[readonly] {
	background-color: silver;
}

/**/
textarea {
	background-color: lightyellow;
	font-size: 1.3em;
}

a {
	color: #000080;
	text-decoration: none;
	font-size: 1.1em;
}

a:hover {
	color: #FFA500;
}

/**/
.xemel {
	padding-left: 50px;
	padding-right: 50px;
	font-weight: 0.9em;
	font-style: italic;
}

.xemel h3 {
	padding-left: 100px;
}

.rechts {
	text-align: right;
}

.center {
	text-align: center;
}

.vet {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.1em;
}

/* p in tableinfo */
.struct { 
	padding: 10px;
	color: steelblue;
	background-color: white;
	text-decoration: underline;
	border: none;
}
.red {
	color: red;
}

.result table {
	border-bottom: 1px solid #4682B4;
}

.result th {
	white-space: nowrap;
	padding: 3px;
	border-left: 1px solid #4682B4;
	border-right: 1px solid 	#4682B4;
	background-color: steelblue;
	color: white;
	font-weight: bold;
}

.result td.white {
	white-space: nowrap;
	padding: 5px;
	border-left: 1px solid 	#4682B4;
	border-right: 1px solid 	#4682B4;
	vertical-align: top;
	border-bottom: 1px solid 	#4682B4;
}

.result td.yellow {
	white-space: nowrap;
	padding: 5px;
	border-left: 1px solid	#4682B4;
	border-right: 1px solid 	#4682B4;
	vertical-align: top;
	border-bottom: 1px solid 	#4682B4;
	background-color: lightyellow;
}

#listing tr.even {
	background-color: #f8f8f8;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

#listing tr.odd td, table tr.even td {
	padding: 3px 2px;
}

#listing tbody tr:hover {
	background-color: #e0ffe0;
}

#header {
	font-size: 1.3em;
	color: white;
	text-align: center;
	font-weight: bold;
	background-color: 	#4682B4;
}

#error {
	color: white;
	font-size: 1.3em;
	padding-left: 20px;
	font-weight: bold;
	background-color: red;
}

#message {
	color: white;
	font-size: 1.3em;
	padding-left: 20px;
	font-weight: bold;
	background-color: darkgreen;
}

#menu {
	border-bottom: 2px dotted 	#4682B4;
}

#menu ul li {
	margin: 0;
	display: inline;
}

#content {
	margin: 15px;
}

.grey {
	border: 1px solid black;
	background-color: silver;
}

.qs {
	/* margin-top: 3px; */
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
	background-color: azure;
}
