body {
	font-size: 1.1em;
	font-family: "Trebuchet MS", "Times New Roman", times, serif;
	color: #000000;
	background-color: #FFF;
	margin: 0px;
}

a {
	color: blue;
	text-decoration: none;
	padding-right: 15px;
}

a:hover {
	color: red;
	text-decoration: underline;
}

td,th {
	white-space: nowrap;
}

.page {
	display: block;
	width: 99%;
	padding: 0px;
	background-color: #E0FFFF;
}

#header{
	clear: both;
	background-color: #FFF;
	border-bottom: 1px solid #999;
	text-align: center;
	/* margin-left: 260px; */	
}

#footer {
	clear: both;
	background-color: #FFF;
	border-top: 2px solid #999;
	font-size: 0.6em;
}


.centraal {
	text-align: center;
}

.rechts {
	text-align: right;	
}

#navigation {
	float: left;
	width: 25%;
	/* max-width: 250px;
	min-width: 100px; */
	font: bold 15px "Helvetica Neue Narrow",Arial,Helvetica, sans-serif;
	background-color: #E0FFFF;
	margin-left: 10px;
	margin-top: 25px;
}

#navigation a {
	display: block;
}

#content {
	float: left;
	width: 70%;
	padding: 2%;
	/*max-width: 550px;
	min-width: 200px;*/
	border-left: 2px solid #ccc;
	background-color: #fff;
}

#big {
	font-size: 1.4em;
}

#menubar {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin: 0;
	background-color: lightgrey;
}

.lefter {
	display: block;
	margin-left: 20px;
}

.lefterbig {
	display: block;
	margin-left: 20px;
	font-size: 1.4em;
}

#blueback {
	background-color: powderblue;
}